{{!< layout}}

<h1>{{title}}</h1>

<table id="projects">
<thead>
    <tr>
    <th>Logo</th>
    <th>Key</th>
    <th>Name</th>
    </tr>
</thead>
<tbody>
    <tr></tr>
</tbody>
</table>